@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
body {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin: 25px auto;
    width: 300px;
    background-color: blueviolet;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: underline;
}

p {
    font-size: 20px;
    color: #ffffff;
}
